@font-face {
  font-family: 'Rounded';
  src: url('/fonts/MPLUSRounded1c-Regular.ttf');
}

:root {
  --primary: #ff91af;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Rounded;
}
